---
import Navigation from './Navigation.astro';
import Hambuerguer from "./Hambuerguer.astro";
import ThemeIcon from "./ThemeIcon.astro";
---
<header>
  <nav>
    <Hambuerguer />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>